

<h1> Listing all products </h1>

<table>
	<tr>
		<th> Name </th>
		<th> Description </th>
		<th> Price </th>
	</tr>
	
	<% @products.each do |product|%>
	
	<tr>
		<td>
			<%= product.name %>
		</td>
		<td>
			<%= product.description %>
		</td>
		<td>
			<%= product.price %>
		</td>
		<td>
			<b><%= link_to "|Add to Shopping Cart|", carts_add_to_cart_path(:product_id => product.id)%></b>
		</td>
		<td>
			<b><%= link_to "|Ready to Order?|", new_order_path%></b>
		</td>
	</tr>
	
	<% end %>
</table>

