<!DOCTYPE html>
<html>
<head>
  <title>Kitchenstore</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application" "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag :rss, "/orders/stock.rss", {:title => "RSS feed for current products"} %>
</head>
<body bgcolor="purple">



<%= yield %>

</body>
</html>
